@media screen and (min-width:1024px)
{
    .logo
    {
        display: block;
				 width: 385px;
				 margin: 0 auto;
				 margin-bottom: 75px;
    }

    #contactForm
    {
        [type=email]
        {font-family: 'helvetica';
				display: block;
				width: 375px;
				margin: 0 auto;
				margin-bottom: 15px;
 				border-style: none;
        }

        [type=password]
        {
          font-family: 'helvetica';
					display: block;
					width: 375px;
					margin: 0 auto;
					margin-bottom: 15px;
 					border-style: none;
        }
    }

		#getstarted h2 {
            margin-top: 10px;
        }

    #heightCenter{
        display: inherit;
        height: 100vh;
        padding-top: 310px;

        .startplant{
            width: 442px;
            bottom: 0;
            left: 25%;
            right:25%;
            z-index: -1;
        }

        #addPlant{
            height: 30px;
            padding:5px;
            position: fixed;
            bottom:104px;
            left:30%;
            right: 30%;
        }
    }

    #under-search-image{
        display: inline;

        h2{
            text-align:center;
        }
        h3{
            text-align: center;
        }
        #addPlant{
            width: 220px;
            margin: 10px auto 0 auto;
            display: block;
            background-color: $secondaryColor;
            border-style: none;
            color: $white;
            cursor: pointer;
            transition: all 400ms ease;
            padding: 5px;
            border-radius: 30px;
            height:30px;

            img{
                float: left;
                width: 20px;
                margin-left: 45px;
            }

            p{
                margin-top: 3px;
                margin-left: 5px;
                float: left;
                color: $white;
                font-family: 'helvetica';
                font-weight: lighter;
            }


        }
    }

    #plant-search-section{
        padding-top: 104px;

        .selected{
            background-color: $fertilizer;
        }

        .alphabetPlant{
            padding: 10px;
            width: 80%;

            .linebreak{
                width: 100%;
            }
        }
    }

    #myPlants{
        #heightCenter{
            padding-top:195px;

            .left{
                display: none;
            }

            .right{
                display: none;
            }

            .right-plant{
                display: initial;
                height:153px;
                margin-top: 35px;
            }
            .left-plant{
                display: initial;
                height:153px;
                margin-top: 35px;
                float: right;
            }
        }
    }

    .desktop-vital-text{
        display: initial;

        .bold{
            font-weight: bolder;
        }
    }

    .mobile-vital-text{
        display: none;
    }

    .name{
        display: none;
    }

    #vital-top-header-name{
        display: initial;
        font-size: 60px;
        color:$primaryColor;
        text-transform: uppercase;
    }

    .vitals{
        h2{
            display: none;
        }
    }

    #history{
        #heightCenter{
            padding-top: 0px;
        }
    }

    .fullHistory{
        display: none;
    }

    #settings{
        height: 100vh;

        .settingsHead{
            padding-top: 70px;
            margin-top: 0px;
        }
    }

    #vital-divider-main-section{
      display: block;
      width: 100vw;
      height:100px;
      background-color: $primaryColor;
      margin-top: 50px;
      margin-bottom: 50px;

      h2{
        text-align: center;
        color: white;
        font-size: 50px;
        line-height: 100px;
        font-family: 'neutra';
      }
    }

    .hamburger-menu-icon{
        display: none;
    }

    header{
        nav{
            #desktop-menu{
                display: initial;
                float: left;
                li{
                    display: inline;
                    color: white;
                    background: none;
                }
            }
        }
    }
}
